.admin-wrapper {
  width     : 100%;
  position  : relative;
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

.admin-side-bar {
  min-width       : 300px;
  background-color: rgb(226, 226, 226);
}